{% extends 'layout.html.twig' %}

{% block title %}Home - {{ parent() }}{% endblock %}

{% block content %}
    <form method = "post" action = "">
        <label for = "userName">Your name :</label>
        <input class = "input" type = "text" name = "userName" value = "The guy you're too close to!" placeholder = "Frank">
        <label for = "asshole">The asshole who's not distancing :</label>
        <input class = "input" type = "text" name = "asshole" value = "Asshole" placeholder = "Asshole">
        <div class "buttons">
            <input class = "button red" type = "submit" name = "hardFuckOff" value = "Fuck Off Hard">
            <input class = "button gold" type = "submit" name = "mediumFuckOff" value = "Fuck Off Medium">
            <input class = "button green" type = "submit" name = "lightFuckOff" value = "Fuck Off Light">
        </div>
    </form>
    <p>{{ message }}</p>
    <audio controls>
        <source src = "data:audio/wav;base64,{{ voiceMessage }}"/>
    </audio>
{% endblock %}