{% extends 'layout.html.twig' %}

{% block title %}Home - {{ parent() }}{% endblock %}

{% block content %}
    <form method = "post" action = "">
        <label for = "userName">Your name :</label>
        <input type = "text" name = "userName" value = "The guy you're too close to!" placeholder = "Frank">
        <label for = "asshole">The asshole who's not distancing :</label>
        <input type = "text" name = "asshole" value = "Asshole" placeholder = "Asshole">
        <input type="submit" name="fuckOff">Tell that bitch to fuck off now!</input>
    </form>
    <p>{{ message }}</p>
    <audio controls>
        <source src = "data:audio/wav;base64,{{ voiceMessage }}"/>
    </audio>
{% endblock %}