{% extends 'layout.html.twig' %}

{% block title %}Informations - {{ parent() }}{% endblock %}

{% block content %}
    <h3>Barrier Gestures :</h3>
    <p class = "bgesture">Regularly wash your hands with soap and water.</p>
    <p class = "bgesture">Cough or sneeze into your elbow or a tissue.</p>
    <p class = "bgesture">Wipe or blow your nose using a tissue then get rid of it.</p>
    <p class = "bgesture">Avoid touching your face.</p>
    <p class = "bgesture">Maintain at least 1 meter distance between yourself and others.</p>
    <p class = "bgesture">Greet others (or don't) without shaking hands and avoid hugging and kissing.</p>
    <p class = "bgesture">Burn your dead.</p>
    <p class = "bgesture">Avoid rats at all costs.</p>
    <p class = "bgesture">In addition to these measures, wear a mask when a 1-meter distance cannot be maintained.</p>
{% endblock %}