{% extends 'layout.html.twig' %}

{% block title %}Informations - {{ parent() }}{% endblock %}

{% block content %}
    <p>Regularly wash your hands with soap and water.</p>
    <p>Cough or sneeze into your elbow or a tissue.</p>
    <p>Wipe or blow your nose using a tissue then get rid of it.</p>
    <p>Avoid touching your face.</p>
    <p>Maintain at least 1 meter distance between yourself and others.</p>
    <p>Greet others (or don't) without shaking hands and avoid hugging and kissing.</p>
    <p>In addition to these measures, wear a mask when a 1-meter distance cannot be maintained.</p>
{% endblock %}