<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <META HTTP-EQUIV="Refresh" CONTENT="10; URL=http://localhost:8080/">

    <title>{% block title %}PlagueOff{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">
</head>

<body>
    <header>
        <nav>
            <a href="" target="_self"><h1>PLAGUE OFF !</h1></a>
            <a class = "info" href="/PlagueOff/info" target="_self">i</a>
        </nav>
    </header>
    <main>
{% block content %}{% endblock %}
{% block javascript %}{% endblock %}
    </main>
</body>
</html>