<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}PlagueOff{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">
</head>

<body>
    <header>
        <nav>
            <a href="" target="_self"><h1>PLAGUE OFF !</h1></a>
            <a href="" target="_self"><img src='https://i.postimg.cc/pL82X4Hd/FAVPNG-information-button-VA3-Ahs5-K.png' alt='more informations' style="width:40px;height:20px;"><a/>
        </nav>
    </header>
    <main>
{% block content %}{% endblock %}
{% block javascript %}{% endblock %}
    </main>
</body>
</html>